#header 
{
    background: #e84393 ;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase; 
    font-size: 30px;
    
}

#header a
{
    text-decoration: none;
    color: white;
}

#menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #0984e3 
}

#mMenu a 
{
    text-decoration: none;
    margin: 20px 3px;
    padding: 0 10px;
    border-right: 2px solid white;
    color: white;
    font-weight: bold;
}

#mMenu a:nth-child(5)
{
    border: none;
}

#login
{
    color: white;
    font-weight: 600;
}

#login a 
{
    text-decoration: none;
    color: white;
}
#content
{
    text-align: center;
    color: #ff7675;
    margin-bottom: 20px;
}

#footer
{
    background: darkgreen;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}